@using Viewer.Shared

@inject Cart Cart;

@if (!Cart.Images.Any())
{
    <MudText Align="Align.Center" Typo="Typo.body1">There are no images in the cart!</MudText> 
}
else
{
    @foreach (var item in Cart.Images)
    {
        <div style="margin: 10px;" class="gray-hover" @onclick="@(e => Clicked(e, item))">
            <MudText>@item.Name</MudText>
            <MudImage Fluid="true" Src="@item.Url" Class="rounded-lg"/>
        </div>
    }
}

@code {
    protected override void OnInitialized()
    {
        Cart.Images.CollectionChanged += (_, _) => StateHasChanged();
        base.OnInitialized();
    }

    private void Clicked(MouseEventArgs obj, ImageId img)
    {
        if (obj.CtrlKey)
            Cart.Images.Remove(img);
    }
}
